temp
template/*
!template/.gitkeep
templates_c
upload/*
!upload/.gitkeep
*.sublime-workspace
config.inc.php
assets
protected/runtime/*
!protected/runtime/.gitkeep
stats
bin
bower_components
vendor
test/results
test/behat.yml
tests/_log/*
!tests/_log/.gitkeep
c3tmp
!c3tmp/.gitkeep
