<?php

/**
 * Configuration example
 *
 * PHP version 5
 *
 * @category Configuration
 * @package  Blueshell
 * @author   Emanuele Deserti <emanuele.deserti@netwing.it>
 * @license  http://www.blueshell.it/license.html Proprietary
 * @link     http://www.blueshell.it
 */

// Name of port
$port_name = "Port name";

// PARAMETRI DI CONNESSIONE AL DATABASE
$dbhost = "localhost";
$dbuser = "username";
$dbpass = "password";
$dbdata = "database";
$dbprefix = "";

// Licenza acquistata su http://my.netwing.it
$license_key = "";

// Config debug and trace level FOR WEBAPP
$yii_debug = true;
$yii_trace_level = 1;

// Config debug and trace level FOR CONSOLE
$yiic_debug = true;
$yiic_trace_level = 0;

// *** Do not touch anything below this line! ***
// ----------------------------------------------------------------------------
require_once "init.inc.php";
