@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700&subset=latin,latin-ext);

body {
    font-family: 'Open Sans', Times, Arial, sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    line-height: 1.42857143;
    color: #333;
    background-color: #ffffff;    
}

div.well h1, 
div.well h2,
div.well h3 {
    margin: 0 !important;
    color: #999;
}

div.container-full {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.grid-view .table .filters > td .filter-container select {
  margin-bottom: 0;
  width: 100%;
}

.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;   
}

.form-control.select2-container {
    height: auto !important;
    padding: 0px;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}

a.navbar-brand {
    padding: 10px 15px 0px 15px;
}

/* FIX for select2 with bootstrap3 */
@media screen and (min-width: 1200px) {
    .form-control.select2-container {
        margin-top: 5px;
    }
}
/* END FIX for select2 with bootstrap3 */ 

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

table.table {
    background-color: white;
}

table.table caption {
    text-align: left;
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
}

table.table thead tr {
    background-color: #EEE;
}

table.table thead tr th,
table.table thead tr th a:link,
table.table thead tr th a:visited {
    color: #333;
}

table.table thead tr th a:link {
    color: #0e64a2;
    text-decoration: none;
}

table.table thead tr th a:hover {
    color: #0e64a2;
    text-decoration: underline;
}

table.table tbody tr td:last-child {
    text-align: right;
    width: 0;
}

.navbar-default .navbar-toggle .fa-bars {
    background-color: inherit;
    color: #FFFFFF;
}

#mainsearchresults {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 5px black; 
    z-index: 1001;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.list-group-item-small {
    padding: 5px 10px;
}

.panel-body-custom {
    /* background-color: #fcfcfc; */
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f6f6f6;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f6ffcf;
}

.div-pager {
    padding-left: 1px !important;
}

div.panel-default div.panel-heading .panel-title {
    color: #555;
    font-weight: bold;
}

a.search-button {
    margin-bottom: 10px;
}
div.search-form {
    padding-top: 10px;
}

a.sort-link.asc:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0aa";
    margin-left: 3px;
}

a.sort-link.desc:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0ab";
    margin-left: 3px;
}


